<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>AuthSystem Server  Framework</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/Auth.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col text-center">
                AuthServer
            </div>
        </div>
        <div class="row">
            @RenderBody()

        </div>
        <div class="row mt-5">
            <div class="col">
                <p class="small text-center text-muted">

                   
                </p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>